<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Navegando pela API</title>
</head>
<body>
    <h1>Bem-vindo ao SustEnergy API</h1>
    <p>Use os links abaixo para navegar entre as api's que queira analisar:</p>
    <ul>
        <li><a href="/api/users">Lista de todos os Usuários</a></li>
        <li><a href="/api/energy-devices">Lista de todos os dispositivos</a></li>
        <li><a href="/api/energy-usage">Lista de todos os dados de consumo</a></li>
    </ul>
</body>
</html>
